<h1>Editing Photo</h1>

<%= render 'form', photo: @photo %>

<div class="show-options">
  <%= link_to 'Show', @photo, class:"btn btn-primary" %>
  <%= link_to 'Back', photos_path, class:"btn btn-primary"  %>
</div>
