<div class="show-content">
  <h2>Editing Photo</h2>

  <%= render 'form', photo: @photo %>
  <br>
  <%= link_to 'Show', @photo, class:"btn btn-primary" %>
  <%= link_to 'Back', photos_path, class:"btn btn-primary" %>
<div class="show-content">
