<div id="container">

  <% if @photos.empty? %>
    <p>Album is empty. Click on "New Photo" to add a photo.</p>
  <% end %>
  
  <% @photos.each do |photo| %>
    <a class"img_a" href="<%= photo_path(photo) %>">
      <figure>
        <%= image_tag(url_for(photo.image), class: 'img_img') %>
        <figcaption><%= photo.caption || '-' %></figcaption>
      </figure>
    </a>
  <% end %>

</div>

<%= link_to 'New Photo', new_photo_path, class:"btn btn-info" %>
