# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


# The yoshi-ruby team is the default owner for anything not
# explicitly taken by someone else.
*                               @GoogleCloudPlatform/yoshi-ruby

/cloud-sql/    @GoogleCloudPlatform/infra-db-sdk @GoogleCloudPlatform/yoshi-ruby
/iot/          @GoogleCloudPlatform/api-iot @GoogleCloudPlatform/yoshi-ruby
/jobs/         @GoogleCloudPlatform/ml-apis @GoogleCloudPlatform/yoshi-ruby

# Self-service 

/appengine     @GoogleCloudPlatform/yoshi-ruby @GoogleCloudPlatform/serverless-runtimes
