<!-- [START cat_list] -->
<h1>A list of my Cats</h1>

<% @cats.each do |cat| %>
  <%=cat.name%> is <%=cat.age%> years old!<br />
<% end %>
<!-- [END cat_list] -->

<!-- [START no_cats]
<h1>A list of my Cats</h1>
<p>Add list of cats here later!</p>
[END no_cats] -->

<!-- [START boilerplate]
<h1>CatFriends#index</h1>
<p>Find me in app/views/cat_friends/index.html.erb</p>
[END boilerplate] -->
