<!-- [START modified] -->
<h1>Welcome</h1>
<p>This is a home page for a new Rails App on Google Cloud Platform!</p>
<!-- [END modified] -->

<!-- [START boilerplate]
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
[END boilerplate] -->
