// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 30px auto;
}

div#container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
}

a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }
  
  a:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

a:hover img {
  transform: scale(1.10);
}

figure {
  margin: 0;
  overflow: hidden;
  border-style: solid;
  border-width: medium;
  border-color: #eee;
  text-align: center;
}

figcaption {
  margin-top: 15px;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.p a {
  display: inline;
  font-size: 13px;
  margin: 0;
  text-decoration: underline;
  color: blue;
}

.p {
  text-align: left;
  font-size: 13px;
  padding-top: 100px;
}

.show-options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  flex-direction: column;
}

.show-content {
  text-align: center;
}
